
 .tile-challenge {
    background-color: white;
    border: 1px solid #333;
    border-radius: 0.5em;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    padding: 0.5em;
    user-select: none;
   }

.captured-group {
    color: red;
   }

#container-challenges {
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #333;
    border-radius: 0.5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 35%;
   }

#container-regex {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    width: 35%;
   }

#container-regex input {
    border: 1px solid #333;
    border-radius: 0.5em;
    padding: 0.5em;
   }

input {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}
