
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --first-color: #d5def5;
    --flash-green: #00ff00;
    --fourth-color: #430f58;
    --light-green: #e0ede0;
    --main-font: 'VT323', monospace;
    --second-color: #8594e4;
    --third-color: #6643b5;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    height: 100vh;

background: linear-gradient(
        var(--third-color),
        black
    );
}

.tile-challenge {
    background-color: white;
    border: 1px solid #333;
    border-radius: 0.5em;
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: bold;
    margin: 0.25em 0;
    padding: 0.5em;
    user-select: none;
}

.captured-group {
    color: red;
}

#container-challenges {
    align-items: center;
    background-color: var(--second-color);
    border: 1px solid #333;
    border-radius: 0.5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

#container-regex {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    width: 50%;
}

#container-regex input {
    border: 1px solid #333;
    border-radius: 0.5em;
    padding: 0.5em;
}

#input-regex {
    background-color: black;
    caret-color: transparent;
    color: grey;
    font-family: var(--main-font);
    font-size: 1.25em;
}

#input-regex:focus {
    color: var(--flash-green);
}

#input-regex:focus {
    border: 1px solid white;
    outline: none;
}

.challenge-full-match {
      background-color: var(--light-green);
  }

#icon-info {
    align-items: center;
    background-color: var(--first-color);
    border-radius: 2em;
    display: flex;
    font-family: var(--main-font);
    height: 2em;
    justify-content: center;
    margin-bottom: 0.5em;
    transition: transform 0.3s ease;
    user-select: none;
    width: 2em;
}

#icon-info:hover {
    transform: scale(1.1);
}

#logo {
      color: var(--flash-green);
      font-family: var(--main-font);
      font-size: 2em;
      font-weight: bold;
      margin-bottom: 0.25rem;
      margin-top: 0;
      user-select: none;
  }

#title {
    color: var(--flash-green);
    font-family: var(--main-font);
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 0;
    user-select: none;
}